/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@source "../../lib/phoenixreact_web/components/layouts/root_admin.html.heex";
@source "../js/layouts/admin-layout.tsx";
@source "../js/pages/admin/**/*.tsx";
@source "../js/pages/auth/**/*.tsx";
@source "../js/pages/ui/**/*.tsx";

@layer base {
  body {
    @apply bg-gray-100 p-5 text-gray-900;
  }

  h1,
  h2,
  h3 {
    @apply mb-4 text-xl font-bold;
  }

  input {
    @apply mb-4 block w-full max-w-sm rounded-md border-2 border-gray-300 p-2;
  }

  button {
    @apply mb-4 block w-full max-w-sm rounded-md bg-blue-600 px-4 py-2 text-white hover:bg-blue-700;
  }

  a {
    @apply text-blue-600 hover:underline;
  }
}
